<nav class="navbar navbar-expand-lg bg-body-tertiary" ...attributes>
  <div class="container-fluid">
    <LinkTo class="navbar-brand" @route="application">
      Navbar
    </LinkTo>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <LinkTo
          class="nav-link {{styles this 'bold' red=this.isRed}}"
          @route="authenticated.time-tracker"
        >
          Time tracker
        </LinkTo>
        <button {{on "click" this.handleLogout}} class="logout-btn" type="button"> 
          Logout
        </button>
        {{! Use the template below for links }}
      </div>
    </div>
  </div>
</nav>