<div>
  <label for="date-picker">Pick a Date:</label>
  <input 
    type="date" 
    id="date-picker"
    value={{this.selectedDate}} 
    {{on "input"  this.setSelectedDate}} />

  <label for="service-dropdown" class="form-label">Choose an Option:</label>
  <select id="service-dropdown">
  {{#each @services as |service|}}
    <option value={{service.orderId}}>{{service.name}}</option>
  {{/each}}
</select>

</div>
