{{page-title "Onboarding assignment"}}

<header>
  <Navbar />
</header>

<main class="container">
  <Title>
    Welcome to the onboarding assignment!
  </Title>

  <a href="https://guides.emberjs.com/release/getting-started/" target="_blank" rel="noopener noreferrer">Ember.js guides</a>

  {{outlet}}
</main>